h1{
	font-size: 60;
	text-align: center;
	background-color: orange;
	border-color: black;
	border-style: solid;
	border-width: 4px;
}
body{
	background-color: orange;
}
h2{
	font-size: 22;
	border-style: double;
	text-align: center;
	background: orange;
}
.Linkedin{
font-size: 18;
}
ul{
	list-style-type: none;
}
li{
	display: inline;;
padding-left: 60px;
padding-right: 80px;
}
h3{
	text-align: center;
}